<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljsy.yisystem.mapper.DirExplainMapper">

    <resultMap id="explainVo" type="com.ljsy.yisystem.entity.DirExplain">
        <id property="id" column="id"/>
        <result property="hanyu" column="hanyu"/>
        <collection property="sentenceList" ofType="dirSentence">
            <id column="sentence_id" property="id"/>
            <result property="sentence" column="sentence"/>
            <result property="hanyuSentence" column="hanyu_sentence"/>
        </collection>
    </resultMap>

    <select id="getExplainVoListByWordId" resultMap="explainVo">
        SELECT
            e.id,
            e.hanyu hanyu,
            s.id sentence_id,
            s.sentence,
            s.hanyu_sentence
        FROM dir_explain e
                 LEFT JOIN dir_sentence s ON e.id = s.explain_id
        where e.word_id = #{wordId}
    </select>
</mapper>
