<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljsy.yisystem.mapper.DirPinyinMapper">

    <select id="getPinyinVoByWordId" resultType="com.ljsy.yisystem.entity.PinyinVo">
        SELECT
            p.id,
            p.pinyin,
            l.`local`,
            d.dialect
        FROM dir_pinyin p
                 LEFT JOIN dir_local l ON p.local_id = l.id
                 LEFT JOIN dir_dialect d ON l.dialect_id = d.id
        where p.word_id = #{wordId}
    </select>

    <select id="pinyinListByDialect" resultType="String">
            select p.pinyin from dir_pinyin p
                LEFT JOIN dir_local l ON p.local_id = l.id
                LEFT JOIN dir_dialect d ON l.dialect_id = d.id
            where d.id = #{dialect}
    </select>
</mapper>
