<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljsy.yisystem.mapper.YiWordsMapper">

    <select id="weiningList" resultType="String">select weining from yi_words where weining is not null </select>
    <select id="dafangList" resultType="String">select dafang from yi_words where dafang is not null </select>
    <select id="luquanList" resultType="String">select luquan from yi_words where luquan is not null </select>
    <select id="bijieList" resultType="String">select bijie from yi_words where bijie is not null </select>
    <select id="panxianList" resultType="String">select panxian from yi_words where panxian is not null </select>
    <select id="longlinList" resultType="String">select longlin from yi_words where longlin is not null </select>
    <select id="hongheList" resultType="String">select honghe from yi_words where honghe is not null </select>
    <select id="shipingList" resultType="String">select shiping from yi_words where shiping is not null </select>
    <select id="weishanList" resultType="String">select weishan from yi_words where weishan is not null </select>
    <select id="xideList" resultType="String">select xide from yi_words where xide is not null </select>
    <select id="chuxiongList" resultType="String">select chuxiong from yi_words where chuxiong is not null </select>
    <select id="yongrenList" resultType="String">select yongren from yi_words where yongren is not null </select>
    <select id="shilinList" resultType="String">select shilin from yi_words where shilin is not null </select>
</mapper>
