<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.dir.mapper.DirWordMapper">
    
    <resultMap type="DirWord" id="DirWordResult">
        <result property="id"    column="id"    />
        <result property="word"    column="word"    />
        <result property="page"    column="page"    />
        <result property="radical"    column="radical"    />
        <result property="count"    column="count"    />
        <result property="code"    column="code"    />
    </resultMap>

    <resultMap type="DirWordDto" id="DirWordDtoResult">
        <result property="id"    column="id"    />
        <result property="word"    column="word"    />
        <result property="page"    column="page"    />
        <result property="radical"    column="radical"    />
        <result property="count"    column="count"    />
        <result property="code"    column="code"    />
        <result property="hanyu"    column="hanyu"    />
    </resultMap>

    <sql id="selectDirWordVo">
        select id, word, page, radical, count, code from dir_word
    </sql>

    <select id="selectDirWordList" parameterType="DirWord" resultMap="DirWordDtoResult">
        SELECT
        w.id,
        w.word,
        page,
        radical,
        count,
        `code`,
        hanyu
        FROM
        dir_word w
        LEFT JOIN ( SELECT word_id, GROUP_CONCAT( hanyu ORDER BY id DESC SEPARATOR '/' ) hanyu FROM dir_explain GROUP BY word_id ) e ON w.id = e.word_id
        <where>
            <if test="id != null  and id != ''"> and w.id = #{id}</if>
            <if test="word != null  and word != ''"> and word = #{word}</if>
            <if test="page != null "> and page = #{page}</if>
            <if test="radical != null "> and radical = #{radical}</if>
            <if test="count != null "> and count = #{count}</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="params.hanyu != null  and params.hanyu != ''"> and e.hanyu like concat('%', #{params.hanyu} ,'%')</if>
            <if test="params.pinyin != null and params.pinyin != '' and params.local != null and params.local != ''"> and w.id in (SELECT word FROM dir_pinyin WHERE `local` = #{params.local} AND pinyin LIKE concat('%', #{params.pinyin} ,'%'))</if>
            <if test="params.pinyin != null and params.pinyin != '' and (params.local == null or params.local == '')"> and w.id in (SELECT word FROM dir_pinyin WHERE pinyin LIKE concat(#{params.pinyin} ,'%'))</if>
        </where>
    </select>
    
    <select id="selectDirWordById" parameterType="Long" resultMap="DirWordResult">
        <include refid="selectDirWordVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDirWord" parameterType="DirWord" useGeneratedKeys="true" keyProperty="id">
        insert into dir_word
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="word != null and word != ''">word,</if>
            <if test="page != null">page,</if>
            <if test="radical != null">radical,</if>
            <if test="count != null">count,</if>
            <if test="code != null and code != ''">code,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="word != null and word != ''">#{word},</if>
            <if test="page != null">#{page},</if>
            <if test="radical != null">#{radical},</if>
            <if test="count != null">#{count},</if>
            <if test="code != null and code != ''">#{code},</if>
         </trim>
    </insert>

    <update id="updateDirWord" parameterType="DirWord">
        update dir_word
        <trim prefix="SET" suffixOverrides=",">
            <if test="word != null and word != ''">word = #{word},</if>
            <if test="page != null">page = #{page},</if>
            <if test="radical != null">radical = #{radical},</if>
            <if test="count != null">count = #{count},</if>
            <if test="code != null and code != ''">code = #{code},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDirWordById" parameterType="Long">
        delete from dir_word where id = #{id}
    </delete>

    <delete id="deleteDirWordByIds" parameterType="String">
        delete from dir_word where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>